@using Domain;
@model List<Enrollment>;

<h1 class="text-center">Enrollments</h1>
<hr>

<table class="table table-striped table-bordered">


    <thead class="bg-dark text-white">
        
            <tr>
            <th>Course type</th>
            <th>Course name</th>
            <th>Student name </th>
            <th>Student email </th>
            <th>Enrollment date</th>
        </tr>
    </thead>

    <tbody class="table-striped">
        @foreach (Enrollment e in Model)
        {
        <tr>
            <td>
                @(e.EnrolledCourse.GetType() == typeof(OnlineCourse) ? "Online" : "Regular")
            </td>
            <td>@e.EnrolledCourse.Title</td>
            <td>@e.EnrolledStudent.StudentName</td>
            <td>@e.EnrolledStudent.Email</td>
            <td>@e.EnrollDate</td>
        </tr>
        }
    </tbody>
       
       
</table>
<div class="d-flex justify-content-center">
    <a href="/Home/Index" class="btn btn-light">Back to home page</a>
</div>