@using Domain;
@{
    var systemClass = SystemClass.Instance;
    var allCourses = systemClass.ListCourses();

}

@if (ViewBag.success != null)
{
    <div class="alert-success text-center">@ViewBag.success</div>
}
@{
    else if (ViewBag.error != null)
    {
        <div class="alert-danger text-center">@ViewBag.error</div>
    }
}

<div class="container">
    <h1 class="d-flex flex-column align-items-center text-center">Enroll student</h1>

    @if (ViewBag.users != null)
    {
        <form method="post" asp-controller="User" asp-action="PreEnroll">
            <select class="form-select" id="user" name="userID">
                <option>Select</option>
                @foreach (User u in ViewBag.users)
                {
                    if (u.GetType() == typeof(Student))
                    {
                        Student s = u as Student;
                        <option value="@s.UserID">@s.UserID - @s.StudentName</option>

                    }

                }
            </select>
            <br>
            <select class="form-select" id="course" name="courseID">
                <option>Select</option>
                @foreach (var course in allCourses)
                {
                    <option value="@course.CourseID">@course.CourseID - @course.Title</option>

                }
            </select>

            <button type="submit">Enroll</button>
        </form>

    }
</div>